* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
nav {
	background-color: darkblue
}

body {
	background-color: dodgerblue;
}

footer {
	background-color: darkblue
}

/*index CSS ============================================================================*/

#landing{
  border: 2px solid gray;
  background-image: url("../images/landing1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  color: white;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
}


#servicesDesc {
  background-image: url("../images/rankdesc.jpg");
  height: 35vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;



}

.card-text{
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}


#servicesContainer{
  border: 3px solid black;
  /*padding: 25px;*/
  background-image: url("../images/serviceCont.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 58vh;
  color: white;
 
  
}
/*register CSS ========================================================================*/

#register-img {
  /*border: 2px solid black;*/
  background-image: url("../images/registerpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 83vh;
  color: white;
}

/*login CSS ============================================================================*/

#login-body {
  border: 2px solid black;
  background-image: url("../images/loginpic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 87vh;
  color: white;
}

/*courses CSS ==========================================================================*/

#courses-header {
  border: 2px solid black;
  background-image: url("../images/courses-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  color: white;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.4); 
}

#courses-card {
  border: 2px solid black;
  background-image: url("../images/courses-card.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 33vh;
  color: white;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  font-weight: bold;



}


/*add course CSS ========================================================================*/

#addCourse-body {
  border: 2px solid black;
  background-image: url("../images/addCourse-body.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  color: white;
}


/*course CSS ========================================================================*/

#course-enroll {
  /*border: 2px solid black;*/
  background-image: url("../images/course-enroll.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  color: white;
}

#enrolled-course {
  border: 3px solid black;
  background-image: url("../images/enrolled-course.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 50vh;
  color: black;
  font-size: bold;
}


/*edit course CSS ========================================================================*/

#editCourse-img {
  /*border: 2px solid black;*/
  background-image: url("../images/editCourse-pic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  color: white;
}
/*delete course CSS ========================================================================*/

#disable-img {
  /*border: 2px solid black;*/
  background-image: url("../images/disablepic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
  color: white;
}

/*profile CSS ========================================================================*/

#profileItems{
  border: 3px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 75vh;
  color: white;
    /* The image used */
  background-image: url("../images/courses-card.png");

}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /*border: 3px solid #f1f1f1;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}






/*     Add the blur effect 
  filter: blur(2px);
  -webkit-filter: blur(2px);*/

